<header class="site-header">
  <div class="brand">RedefineIt</div>
  <nav class="site-nav" aria-label="Primary">
    <a href="index.html" data-nav-to="index.html">Home</a>
    <a href="about.html" data-nav-to="about.html">Exploring AI</a>
    <a href="games.html" data-nav-to="games.html">Games</a>
    <a href="kinetic-art.html" data-nav-to="kinetic-art.html">Kinetic Art</a>
    <a href="blogs.html" data-nav-to="blogs.html">Blogs</a>
    <a href="photography.html" data-nav-to="photography.html">Photography</a>
    <a href="app-experiments.html" data-nav-to="app-experiments.html">App Experiments</a>
  </nav>
  <div class="spacer"></div>
</header>
